@media screen and (max-width: 320px) {
  .carousel {
    &__tool {
      display: none;
    }

    &__bullets {
      @include justify-content(center);
    }

    &__bullet {
      pointer-events: none;
    }
  }

  .slide__meta {
    display: none;
  }
}
