$nmbrOfSlides: 10;

.carousel {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover {
    .carousel__arrow,
    .carousel__bullets {
      opacity: 1;
    }
  }

  &.has-touch {
    .carousel__arrow,
    .carousel__bullets {
      opacity: 1;
    }
  }

  &__tool {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 15px grey;
  }

  &__activator {
    display: none;

    @for $i from 1 through $nmbrOfSlides {
      &:nth-of-type(#{$i}):checked {
        & ~ .carousel__slide:nth-of-type(#{$i}) {
          display: block;
        }

        & ~ .carousel__bullets .carousel__bullet:nth-of-type(#{$i}) {
          background-color: $klmBlue;
        }
      }
    }
  }

  &__slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__arrow,
  &__bullets {
    opacity: 0;
    @include transition(opacity 0.3s ease);
  }

  &__arrow {
    $arrowSize: 50px;

    position: absolute;
    top: 0;
    bottom: 0;
    width: $arrowSize;
    height: $arrowSize;
    margin: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);

    i {
      color: white;
      font-size: 3.5rem;
      text-shadow: 0 0 5px grey;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__bullets {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 5px 15px;
    box-sizing: border-box;
    @include display(flex);
    @include justify-content(flex-end);
  }

  &__bullet {
    $bulletSize: 8px;

    width: $bulletSize;
    height: $bulletSize;
    margin: 0 5px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    @include transition(background-color 0.3s ease);

    &:hover {
      background-color: lightblue;
    }
  }
}

.slide__meta {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 15px grey;
}
