@import 'bourbon';
@import 'variables';
@import 'colors';
@import 'mixins';

.application {
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  font-family: 'Roboto';
}

.page {
  width: 100%;
  height: 100%;
}

@import 'carousel';
@import 'carousel-mobile';
